{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1>Here is your list</h1>
    <div id="flash_message"></div>
    <ul id="todolist"></ul>
    <input type="text" id="create_item" /><button id="create_button">Create</button>

</div>
{% endblock %}
